<section id="skill" class="skill-section">
  <div class="skill-container">
    SKILL
    <div class="language">
      Language:
      <img src="../../../assets/img/typescript_icon.svg" alt="" />
      <img src="../../../assets/img/java_icon.svg" alt="" />
    </div>
    <div class="framework">
      FrameWork:
      <img src="../../../assets/img/angualr.svg" alt="" />
      <img src="../../../assets/img/spring.png" alt="" />
    </div>
    <div class="sql">
      SQL:
      <img src="../../../assets/img/postgresql_icon.svg" alt="" />
    </div>

    <div class="OS">
      OS:
      <img src="../../../assets/img/centos_logo_icon.svg" alt="" />
      <img src="../../../assets/img/ubuntu_icon.svg" alt="" />
    </div>
    <div class="devOps">
      DevOps:
      <img src="../../../assets/img/git_logo_icon.svg" alt="" />

      <img src="../../../assets/img/kubernetes_logo_icon.svg" alt="" />
    </div>
  </div>
</section>
