<section id="projects" class="project-section">

  <strong>WORK EXPERIENCE</strong>

  <div class="project-container">
    <div class="img-container">
      <a href="https://www.wistron.com/" target="_blank">
        <img src="../../../assets/img/wistron_logo.png" alt="" />
      </a>
      <div>
        Software Engineer <br>
        2019/12-Now
      </div>
    </div>

    <div class='job-container'>
      公司內部開發物料管理系統<br>
      並與其他單位協調合作
      <ul>
        <li>需求接入與溝通</li>
        <li>負責前後端開發</li>
        <li>佈署系統與運維</li>
      </ul>
    </div>
  </div>
</section>
